$font-stack:    Comic Neue;

.Footer {
  width: 100%;
  background-color: rgb(40, 44, 52);
  position: absolute;
  bottom: auto;
  left: 0;
  min-height: 40px;
  text-align: justify;
  float: right;
  color: whitesmoke;
}
